.benefits {
    padding-top: 60px;
    padding-bottom:60px;

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.benefits__item {

    @include tablet {
        width: calc((100% - 30px)/2);
    }
    @include desktop {
        width: calc((100% - 90px)/4);     
    }
}

.benefits__icon {
        @include centeredFlex(flex);

        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        background-color: var(--bg-color);
        
        @include desktop {
            width: 270px;
        }
}

.benefits__subtitle {


       @include font(14px, 700, 1.14, 0.03em);
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;

        @include tablet {
            text-align: start;
        }
        
}

.benefits__text {
    @include font(14px, 400, 1.71, 0.03em);
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}

