.benefits {
    padding-top: 60px;
    padding-bottom:60px;

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.benefits__list {
    @include tablet {
        display: flex;
    }
}

.benefits__item {
    flex-basis: 270px;
    @include tablet {
            flex-basis: 50%;
        }
    @include desktop {
            flex-basis: 33.333%;
        }     
}




.benefits__icon {
        @include centeredFlex(flex);
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        background-color: var(--bg-color);
}

.benefits__subtitle {
       @include font(14px, 700, 1.14, 0.03em);
        
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
}

.benefits__text {
    @include font(14px, 400, 1.71, 0.03em);
}

.text {
    margin-top: 0;
    margin-bottom: 0;
}

