.footer {
    background-color: var(--primary-dark-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        display: flex;
        align-items: baseline;
        }
}

.logo-footer__link {
    display: inline-block;
    color: var(--primary-button-color);
    font-family: var(--second-font);
    @include font(26px, 700, 1.19, 0.03em);
    margin-bottom: 20px;
    @include transition(color);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.logo__accent {
    color: var(--accent-color);
}

.footer__contacts {
    margin-right: 70px;
}

/*Footer-kontakts*/

.address__list .link:hover,
.address__list .link:focus {
    color: var(--accent-color);
}

.address__list .link {
    @include transition(color);
}

.address__item {
    margin-bottom: 9px;
}

.address__text {
    @include font(14px, null, 1.71, 0.03em);
    font-style: normal;
    color: var(--primary-button-color);
    margin-top: 0px;
    margin-bottom: 9px;
}

.address__mail,
.address__tel {
    color: rgba(255, 255, 255, 0.6);
    @include font(14px, 400, 1.71, null);
    font-style: normal;
}

.address__mail {
    display: inline-block;
}

/*Footer Social*/

.footer__social {
    margin-right: auto;
}

.social__footer-icons {
    fill: var(--primary-button-color);
}

.footer__text {
    @include font(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--primary-button-color);
    margin: 0;
    margin-bottom: 20px;
}

.footer__soclist {
    @include centeredFlex(flex);
}

.footer__flex-element:not(:last-child) {
    margin-right: 10px;
}

.social__link {
    @include centeredFlex(flex);
    cursor: pointer;
    width: 44px;
    height: 44px;
    color: var(--primary-button-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    @include transition(background-color);

    &:hover, &:focus {
        background-color: var(--accent-color);
    }
}

/*Footer-form*/

.form__container {
    margin-right: auto;
}

.form__mail {
    display: flex;
}

.form-mail__input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    @include bordered(rgba(255, 255, 255, 0.3));
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        border: 1px solid var(--accent-color);
    }
}

/*Kostyl*/
.footer__text-portfolio {
    margin: 0;
    margin-bottom: 20px;
    color: var(--primary-button-color);

    @include font(14px, 700, 1.14, 0.03em);
}

.form-mail__btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: var(--button-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    @include font(16px, 700, 1.88, 0.03em);
    padding-left: 29px;
    color: var(--primary-bg-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: var(--button-color-hover);
    }
}

.form-mail__send {
    right: 28px;
    margin-left: 10px;
}