.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
    
    position: relative;

    @include mobile {
        position: relative;
    }

    @include tablet {
        padding-top: 0;
        padding-bottom: 0;
    }

    @include desktop {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.nav {
    display: none;

    @include tablet {
        display: flex;
        align-items: center;
    }
}

.nav__list .link.current {
    color: var(--accent-color);
}

.nav__list .link:hover,
.nav__list .link:focus {
    color: var(--accent-color);
}

.nav__list {
    @include font(14px, 500, 1.14, 0.02em);
    display: flex;
    margin-left: 93px;

    @include tablet {
        margin-left: 88px;
    }

    @include desktop {
        margin-left: 93px;
    }
}

.nav__list .link {
    @include transition(color);
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
}

.nav__link.hover-underline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;  
}

.kontakts__list .link:hover,
.kontakts__list .link:focus {
    color: var(--accent-color);
}

.kontakts__list .link {
    color: var(--primary-text-color);
    @include transition(color);
}

.kontakts__list {
    display: none;

    @include tablet {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        @include font(14px, 500, 1.14, 0.02em);
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        @include font(14px, 500, 1.14, 0.02em);
        margin-left: auto;
    }
}

.kontakts__item:not(:last-child) {
    margin-right: 50px;

    @include tablet {
        margin-right: 0;
        margin-bottom: 10px;
    }  

    @include desktop {
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.kontakts__address {
    @include centeredFlex(flex);
    padding-top: 32px;
    padding-bottom: 32px;

    @include tablet {
        display: inline-flex;
        padding-top: 0;
        padding-bottom: 0;
    }

    @include desktop {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.mail {
    @include tablet {
        padding-top: 20px;
    }
    @include desktop {
        padding-top: 32px;
    }
}

.tel {
    @include tablet {
        padding-bottom: 20px;
    }
    @include desktop {
        padding-bottom: 32px;
    }
}

.kontakts__icon {
    margin-right: 10px;
}


/* Мобильное меню*/

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: opacity 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), visibility 0.8s cubic-bezier(0.215, 0.610, 0.355, 1), transform 0.8s cubic-bezier(0.215, 0.610, 0.355, 1);

    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }
}

.is-hidden {
    transform: translateX(100%);
}



.menu-open-btn,
.menu-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    outline: none;
    margin-left: auto;
}

.menu-open-btn,
.menu-close-btn {
    display: block;
    color: black;
    &:hover {
        fill: currentColor;
        color: #2196f3;
    }
    &:focus {
        fill: currentColor;
        color: #2196f3;
    }

    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}

.menu-open-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
}


.container-mob-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: auto;
}

.mob-menu-list {
    list-style: none;
    
}

.mob-menu-list-item {
    margin-bottom: 32px;
}

.mob-menu-list-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;
}

.current {
    color: #2196f3;
}

.mob-menu-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.mob-menu__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 32px;

    .mob-menu__link {
        color: #2196f3;
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;

        @media screen and (min-width: 320px) {
                font-size: 26px;
            }
    }
}

.mob-menu-social-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
}

.mob-menu-social__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 10px;

        &::after {
            content: "";
            position: absolute;
            left: 100%;
            bottom: 50%;
            width: 22px;
            height: 1px;
            background-color: rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }
    }
}

.menu-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
}