.hero {
    /* Одинаковые для всех брекпоинтов */
    background-color: var(--primary-dark-bg-color);
    text-align: center;
    /* ------------------------------- */

    /* Изменение паддингов */
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    /* ------------------------------- */
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-hero.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    /* Одинаковые для всех брекпоинтов */
    margin-top: 0px;
    margin-bottom: 30px;
    /* ------------------------------- */

    /* Изменение шрифта */
    @include font(26px, 900, 1.66, 0.06em);
    color: var(--primary-button-color);
    text-transform: uppercase;
    
    @media screen and (min-width: 1200px) {
        @include font(44px, 900, 1.36, 0.06em);
    }
    /* ------------------------------- */
}

.hero__button {
    /* Одинаковые для всех брекпоинтов */
    @include font(16px, 700, 1.88, 0.06em);
    color: var(--primary-button-color);
    text-align: center;
    background-color: var(--button-bg-color);

    min-width: 200px;
    padding: 10px 32px;

    @include transition(color);
    @include transition(background-color);
    /* ------------------------------- */

    display: flex;
    align-items: center;
    
    &:hover, &:focus {
        color: var(--primary-button-color);
        background-color: var(--button-color-hover);
    }
}


