.hero__container {
    width: 696px;
}

.hero {
    background-color: var(--primary-dark-bg-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bg-hero.jpg);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    @include font(44px, 900, 1.36, 0.06em);
    color: var(--primary-button-color);
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 30px;
}

.hero__button {
    @include font(16px, 700, 1.88, 0.06em);
    align-items: center;
    display: inline-block;

    @include transition(color);
    @include transition(background-color);

    &:hover, &:focus {
        color: var(--primary-button-color);
        background-color: var(--button-color-hover);
    }
}