.portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.portfolio-filter {
    @include centeredFlex(flex);
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 40px;
    gap: 15px 8px;

    @include tablet {
        justify-content: center;
        margin-bottom: 30px;
    }

    @include desktop {
        justify-content: center;
        margin-bottom: 50px;
    }
}

.portfolio-filter-flex-element:not(:last-child) {
    margin-right: 8px;
}

.projects-list-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @include tablet {
        justify-content: flex-start;
    }
}

.projects-list-flex-element {
    @media screen and (min-width: 320px) and (max-width: 479px) {
        width: 100%;
    }

    width: calc((100% - 30px) / 1);
    
    @include tablet {
        width: calc((100% - 30px) / 2);
    }

    @include desktop {
        width: calc((100% - 60px) / 3);
    }
}



.projects-grow {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.projects-inscription {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

    flex-grow: 1;
}

.projects-title {
    @include font(18px, 700, 2, 0.06em);
    margin-bottom: 4px;
}



.projects-title-kostyl {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding-top: 35px;
        }
    
}


.project-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.projects-shadow {
    display: block;
    @include transition(box-shadow);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



        /*BLAU OVERLAY*/


.projects-blok-overlay {
    position: relative;
    width: 100%;
    height: 294px;
    overflow: hidden;
}

.projects-overlay {
    position: absolute;
    top: 0;
    margin: 0;

    overflow-y: scroll;

    @include font(18px, 400, 1.56, 0.03em);
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    color: var(--primary-button-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-hover:hover .projects-overlay {
    transform: translate(0);
}

.projects-hover:focus .projects-overlay {
    transform: translate(0);
}

.picture {
    display: block;
    
}
.img {
    width: 100%;
   
}