.team {
    background-color: var(--bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team__image {
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__title {
    @include font(36px, 700, 1.17, 0.03em);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
}

.team__item:not(:last-child) {
    margin-right: 30px;
}

.foto {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__inscription {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__subtitle {
    @include font(16px, 500, 1.19, 0.03em);
    text-align: center;
}

.team__text {
    @include font(16px, 400, 1.19, 0.03em);
    text-align: center;
    margin-bottom: 16px;
}