.team {
    background-color: var(--bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
    @include mobile {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    @include tablet {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__image {
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__title {
    @include font(36px, 700, 1.17, 0.03em);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;

    @include mobile {
        @include font(28px, 700, 1.17, 0.03em);
        text-align: center;
            margin-top: 0px;
            margin-bottom: 30px;
    }

    @include tablet {
        @include font(28px, 700, 1.17, 0.03em);
        text-align: center;
            margin-top: 0px;
            margin-bottom: 30px;

    }
    @include desktop {
        @include font(36px, 700, 1.17, 0.03em);
            text-align: center;
            margin-top: 0px;
            margin-bottom: 50px;
    }
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
 
.team__item {
    width: calc((100% - 30px)/1);

    @include tablet {
        width: calc((100% - 30px)/2);
    }
    @include desktop {
        width: calc((100% - 90px)/4);
    }
}



.foto {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.team__inscription {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__subtitle {
    @include font(16px, 500, 1.19, 0.03em);
    text-align: center;
}

.team__text {
    @include font(16px, 400, 1.19, 0.03em);
    text-align: center;
    margin-bottom: 16px;
}