.logo__link {
    color: var(--color-logo-black);
    font-family: var(--second-font);
    @include font(26px, 700, 1.19, 0.03em);
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: var(--accent-color);
    }

    
}

.logo__accent {
    color: var(--accent-color);


}


