/*Titles h2*/

.benefits__title {
    color: var(--primary-title-color);
    margin-top: 0;
    margin-bottom: 0;
}

/*Titles h3*/

.title {
    color: var(--primary-title-color);
    margin-top: 0px;
    margin-bottom: 10px;
}