:root {
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --primary-button-color: #fff;
    --primary-bg-color: #fff;
    --primary-dark-bg-color: #2F303A;
    --bg-color: #F5F4FA;
    --button-bg-color: #2196F3;
    --button-color-hover: #188CE8;
    --color-logo-black: #000000;
    --color-border: #ECECEC;
    --color-icon-primary: #AFB1B8;

    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;

}